.title-home {
    position: relative;
    bottom: 90px;

    text-align: center;
    color: white;
    font-size: 16px;
    vertical-align: top;
    font-weight: 300;
}

.text-home {
    text-align: center;
    color: white;
    font-size: 14px;
}



