.title-home {
    position: relative;
    bottom: 90px;

    text-align: center;
    color: white;
    font-size: 16px;
    vertical-align: top;
    font-weight: 300;
}

.text-home {
    text-align: center;
    color: white;
    font-size: 14px;
}

.shortAddress-button {
    position: absolute;
    top: 1em;
    left: 1em;

    border: 2px solid pink;
    border-radius: 10px;
    background-color: transparent;
    color: pink;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

    transition: all 0.15s linear;
}

.shortAddress-button:hover {
    border-color: rgba(255, 192, 203, 0.3);
    background-color: rgba(255, 192, 203, 0.425);
    color: rgba(255, 192, 203, 0.8);
    .copy-icon {
        color: rgba(255, 192, 203, 0.8);
    }
}
